<nav class="navbar navbar-default">
    <div class="container" >
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><strong>Volunteer portal</strong></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/"><strong>Home</strong></a></li>
          <li><a href="/Add"><b>Applied Activities</b></a></li>
          <li><a href="/Select"><b>Selected Activities</b></a></li>
          <li><a href="/logout"><strong>logout</strong></a></li>
        </ul>
      </div>
    </div>
  </nav>
