{% extends "register.html" %}
{% block body %}
<body>     
    <form action="{{url_for('volunteer.login')}}" method="POST">  
        <div class="container">  
            <h1> User Login  </h1>  
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="u_id" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required> 
            <br> <br>
            <button type="submit" class="btn btn-success" >Login</button>    
            <a href="/" button type="button" class="btn btn-danger"> Cancel</a></button> 
            <br>  
            Forgot <a href="/volunteer/forgot"> password? </a>   
        </div>   
    </form>     
</body>
{% endblock %}
